.welcome-box{
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.welcome-box .ant-row-flex.border{
    border: 1px solid #ddd;
}
.welcome-box .ant-row.border > div{
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.welcome-box .ant-row.border > div:nth-child(1){
    border-left: 1px solid #ddd;
}
.welcome-box .ant-row > div > div:nth-child(1) {
    height: 24px;
    overflow: hidden;
}
.welcome-box .ant-row > div .anticon{
    position: relative;
    top: 2px;
    margin-right: 3px;
}
.welcome-box .ant-row-flex p{
    margin-bottom: 0;
}
