li{
    list-style: none;
}
#root{
    height: 100%;
    overflow: hidden;
}
.ant-layout{
    height: 100%;
}
.header{
    position: relative;
    overflow: hidden;
}
.header.ant-layout-header{
    padding: 0 180px 0 160px;
}
.header .logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 30px;
    background: rgba(255,255,255,.2);
    margin: 17px 10px 17px 30px;
}

.header .userInfo{
    position: absolute;
    right: 0;
    top: 0;
    width: 180px;
    height: 100%;
    padding: 10px 0;
    line-height: 22px;
    text-align: center;
}
.header .userInfo span{
    color: #fff;
}
.header .userInfo p{
    margin-bottom: 0;
}
.ant-layout-sider.ant-layout-sider-dark{
    overflow-x: hidden;
    overflow-y: auto;
}
.ant-layout-content{
    overflow-x: hidden;
    overflow-y: hidden;
}
.ant-message{
    top: 50% !important;
}
.ant-message-notice-content{
    background-color: rgba(0,0,0,0.6) !important;
    color: #fff !important;
}

.ant-layout-sider{
    overflow: hidden;
}
.ant-layout-sider-children{
    overflow-x: hidden;
    overflow-y: auto;
}
.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-has-trigger{
    background-color: #fff;
}
.ant-layout-content{
    overflow-y: auto;
    overflow-x: hidden;
}
.list-box{
    margin-top: 25px;
    overflow-y: auto;
    overflow-x: hidden;
}
