li{
    list-style: none;
}
#root{
    height: 100%;
    overflow: hidden;
}
.ant-layout{
    height: 100%;
}
.logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);
    margin: 16px 28px 16px 0;
    float: left;
}
.ant-layout-sider.ant-layout-sider-dark{
    overflow-x: hidden;
    overflow-y: auto;
}
.ant-layout-content{
    overflow-x: hidden;
    overflow-y: hidden;
}
.ant-message{
    top: 50% !important;
}
.ant-message-notice-content{
    background-color: rgba(0,0,0,0.6) !important;
    color: #fff !important;
}
.ant-menu.ant-menu-dark.ant-menu-root.ant-menu-horizontal{
    width: 1200px;
}
.ant-menu{
    float: left;
}
.header .userInfo{
    position: relative;
    width: 200px;
    height: 100%;
    float: right;
    color: #fff;
}
.ant-layout-sider{
    overflow: hidden;
}
.ant-layout-sider-children{
    overflow-x: hidden;
    overflow-y: auto;
}
