li{
    list-style: none;
}
#root{
    height: 100%;
    overflow: hidden;
}
.left{
    float: left;
}
.right{
    float: right;
}
.link{
    color: #1890ff;
}
.color-1{
    color: #333;
}
.color-2{
    color: #fff;
}
.color-3{
    color: #1890ff;
}
.padding{
    padding: 10px 15px !important;
}
.hidden{
    overflow: hidden;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.ant-layout{
    height: 100%;
}
.header{
    position: relative;
    overflow: hidden;
}
.header.ant-layout-header{
    padding: 0 180px 0 200px;
}
.header .logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    text-align: center;
}
.header .userInfo{
    position: absolute;
    right: 0;
    top: 0;
    width: 180px;
    height: 100%;
    padding: 10px 0;
    line-height: 22px;
    text-align: center;
}
.header .userInfo span{
    color: #fff;
}
.header .userInfo p{
    margin-bottom: 0;
}
.ant-layout-sider.ant-layout-sider-dark{
    overflow-x: hidden;
    overflow-y: auto;
}
.ant-layout-content{
    overflow-x: hidden;
    overflow-y: hidden;
}
.ant-message{
    top: 50% !important;
}
.ant-message-notice-content{
    background-color: rgba(0,0,0,0.6) !important;
    color: #fff !important;
}

.ant-layout-sider{
    overflow: hidden;
}
.ant-layout-sider-children{
    overflow-x: hidden;
    overflow-y: auto;
}
.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-has-trigger{
    background-color: #fff;
}
.ant-layout-content{
    overflow-y: auto;
    overflow-x: hidden;
}
.list-box{
    margin-top: 25px;
    overflow-y: auto;
    overflow-x: hidden;
}
.col-title{
    height: 45px;
    line-height: 45px;
    border: 1px solid #d9d9d9;
    background-color: #f2f2f2;
    padding: 0 15px !important;
}
.MyIcon{
    color: #2998EC;
    font-size: 18px;
}

